.card-logro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 16px;
  background: transparent;
  flex-wrap: wrap;
  gap: 16px;
  opacity: 0; /* Ocultar inicialmente */
  transform: translateY(20px); /* Empujar hacia abajo inicialmente */
  animation: fadeInUp 1s ease-in-out forwards; /* Animación */
}

.card-logro.card-reverse {
  flex-direction: row-reverse;
}

.card-image {
  flex-shrink: 0;
  margin: 0 16px;
  text-align: center;
  animation: slideIn 1s ease-in-out forwards; /* Animación */
}

.card-image img {
  width: 100%;
  max-width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid orange;
}

.card-content {
  flex-grow: 0;
  width: 1150px;
  height: 250px;
  border: 2px solid orange;
  border-radius: 8px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  overflow: hidden;
  opacity: 0; /* Ocultar inicialmente */
  transform: scale(0.9); /* Reducir tamaño inicialmente */
  animation: scaleIn 1s ease-in-out forwards 0.5s; /* Animación con retraso */
  
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
  opacity: 0; /* Ocultar inicialmente */
  animation: fadeIn 1s ease-in-out forwards 0.7s; /* Animación con retraso */
}

.card-description {
  font-size: 1rem;
  text-align: center;
  opacity: 0; /* Ocultar inicialmente */
  animation: fadeIn 1s ease-in-out forwards 1s; /* Animación con retraso */
}

.card-description .logro-fecha,
.card-description .logro-categoria {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #c7c7c7;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .card-logro {
    flex-direction: column;
  }

  .card-logro.card-reverse {
    flex-direction: column;
  }

  .card-content {
    width: 90%;
    height: auto;
  }

  .card-image img {
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .card-title {
    font-size: 1.2rem;
  }

  .card-description {
    font-size: 0.9rem;
  }
}

/* Animaciones */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
