/* Reset de márgenes y paddings */
body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegúrate de que la altura ocupe toda la pantalla */
}

.login-container {
  height: 100vh; /* Asegúrate de que ocupe toda la vista */
  overflow: hidden; /* Oculta cualquier contenido que pueda desbordarse */
}

/* login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222; /* Fondo oscuro */
}

.login-card {
  background: #333; /* Fondo oscuro para el formulario */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(255, 94, 0, 0.3);
  width: 300px;
  text-align: center;
  color: white; /* Texto blanco */
}

.login-card h1 {
  margin-bottom: 20px;
  color: var(--gold-crayola); /* Naranja brillante */
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #555; /* Borde gris oscuro */
  border-radius: 5px;
  background-color: #444; /* Fondo de los inputs en gris oscuro */
  color: white;
}

.login-card button {
  background: var(--gold-crayola); /* Naranja para el botón */
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-card button:hover {
  background: #ff8800; /* Naranja más oscuro al pasar el ratón */
}

.login-card .link {
  margin-top: 15px;
  display: block;
  color: var(--gold-crayola); /* Naranja brillante */
  text-decoration: none;
}

.login-card .link:hover {
  text-decoration: underline;
}
/* Sección para el logo */
.login-logo {
  position: absolute;
  top: 20px; /* Margen superior */
  left: 40px; /* Margen izquierdo */
}

/* Logo */
.login-logo img {
  max-width: 250px; /* Tamaño del logo */
  max-height: 250px;
}