.footer {
  padding: 20px 0; /* Reducir el espacio vertical */
  background-color: var(--eerie-black-1);
  background-size: cover;
  color: var(--white);
  text-align: center; /* Opcional: para centrar el texto */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; /* Eliminar márgenes adicionales */
}

/* Hacer que el contenido principal tome el espacio restante */
.main-content {
  flex: 1; /* Expande esta sección para llenar el espacio disponible */
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
  gap: 15px;
  margin-top: 20px; /* Opcional: reducir el margen superior */
}

.footer-brand {
  display: flex;
  flex-direction: column; /* Mantén el diseño en columnas para pantallas pequeñas */
  justify-content: flex-start;
  align-items: flex-start;
  width: 180%;
}

.footer-brand .logo {
  margin-bottom: 10px; /* Reducir el margen */
}

.footer-brand address,
.footer-brand .contact-link {
  font-size: var(--fontSize-body-3);
  margin: 5px 0; /* Reducir el margen */
  width: 100%;
}

.footer-link {
  color: var(--white);
  text-decoration: none;
  font-size: var(--fontSize-body-2);
  transition: color 0.3s;
}

.footer-link:hover {
  color: var(--gold-crayola);
}

/* Responsividad */
@media (max-width: 768px) {
  .footer-top {
    grid-template-columns: 1fr; /* Para pantallas pequeñas, usa una sola columna */
  }

  .footer-brand {
    margin-bottom: 10px; /* Reducir el margen */
  }
}

@media (min-width: 768px) {
  .footer-brand {
    flex-direction: row; /* En pantallas más grandes, distribuye los elementos en fila */
    align-items: center; /* Centra los items verticalmente */
    justify-content: flex-start; /* Alinea los items al inicio */
  }

  .footer-brand .logo {
    margin-right: 10px; /* Reducir el margen entre el logo y la información */
  }
}
